@inherits LayoutComponentBase

<div class="login-layout">
    @Body
</div>

<style>
    .login-layout {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>

